<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19 Report - Facts and Sources</title>
    <link href="https://fonts.googleapis.com/css?family=Varela&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<body style="font-family: 'Varela', sans-serif; text-align: center;">
    <!--
    <header style="height: 100px; top: 0; right: 0; left: 0; width: 100%; background-color:rgb(240, 0, 0); position: fixed; text-align: center;">
        <a style="position: absolute; left: 10px; text-decoration: none; color: white; max-width: 20%;" href="https://www.bag.admin.ch/bag/en/home/krankheiten/ausbrueche-epidemien-pandemien/aktuelle-ausbrueche-epidemien/novel-cov/situation-schweiz-und-international.html"><h6 style="font-size: 1.1em;">Official Swiss Gouvernment Data</h6></a>
        <div style="display: flex; text-align: center; "><h2 style="margin: 33px 15px 20px auto; color: white;">Unofficial Swiss COVID-19 Report</h2><img style="height: 50px; width: 50px; margin-top: 25px; margin-right: auto;" src="https://www.nicepng.com/png/full/329-3296455_switzerland-flag-clipart-cross-transparent-white-cross-swiss.png" alt=""></div>
        
        <a style="position: absolute; top: 4px; right: 15px; text-decoration: none; color: white; max-width: 20%;" href="/"><h6 style="font-size: 1.1em;">Click here for More Data</h6></a>
    </header>
    -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: red !important; padding: 20px 0px;">
        <a class="navbar-brand" href="/" style="display: flex;"><img style="height: 50px; width: 50px; margin-left: 10px;" src="https://www.nicepng.com/png/full/329-3296455_switzerland-flag-clipart-cross-transparent-white-cross-swiss.png" alt=""><h6 style="margin: 12px 0 12px 12px; color: white; font-size: 1.1em;" class="name">Unofficial Swiss COVID-19 Report</h6></a>
        <button class="navbar-toggler" style="margin-right: 20px; background-color: white !important;" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" style="margin-left: 40px !important;">
          <ul class="navbar-nav" style="margin-left: auto !important; margin-right: 20px !important;">
            <li class="nav-item">
              <a style=" color: white !important; font-size: 1.1em;" class="nav-link" href="https://www.bag.admin.ch/bag/en/home/krankheiten/ausbrueche-epidemien-pandemien/aktuelle-ausbrueche-epidemien/novel-cov/situation-schweiz-und-international.html">Official Swiss Government Data</a>
            </li>
            <li class="nav-item">
              <a style=" color: white !important; font-size: 1.1em;" class="nav-link" href="/more_data">More Processed Data</a>
            </li>
            <li class="nav-item">
              <a style=" color: white !important; font-size: 1.1em;" class="nav-link" href="/facts_sources">Facts and Sources</a>
            </li>

          </ul>
        </div>
      </nav>
      <h5 style="width: 50%; margin: auto; padding-top: 100px;">Report visually presents publically known Swiss COVID-19 data and is updated after a complete day, unlike the Official Swiss Government website where you can find more accurate and more frequently published reports (link in the navigation bar)</h5>
      <h5 style="width: 50%; margin: auto; padding-top: 100px;">Data used belongs to John Hopkins University (Baltimore, USA). The data is dynamically pulled from the source and processed to be analysed and presented. Resources can be found on their GitHub page: <a href="https://github.com/CSSEGISandData/COVID-19">Click Here</a></h5>
      <h5 style="width: 50%; margin: auto; padding-top: 100px; padding-bottom: 120px;">The ambition for the creation of this page was to make the information regarding the COVID-19 pandemic easier to interpret and follow by the wider public. The creator does not take any responsibility for the accuracy of the data presented.</h5>


<!-- Latest compiled and minified JavaScript -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script>
<style>
  @media (max-width: 550px) {
  .name{
  display: none;
}
}
</style>
</body>
</html>
